# Google API
google-api-python-client>=2.0.2
google-auth>=1.24.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.4.2
# PyGithub (https://github.com/PyGithub/PyGithub)
PyGithub

# Coverage
coverage>=4.5.1